<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Certification comments
 * 
 * 1. To add custom CLI command you need to define it in this file withe the following XML layout:
 *    
 *      <type name="Magento\Framework\Console\CommandList">
 *          <arguments>
 *              <argument name="commands" xsi:type="array">
 *                  <item 
 *                      name="commandName" 
 *                      xsi:type="object">Component\Path\To\Console\CommandNameClass</item>
 *              </argument>
 *          </arguments>
 *      </type>
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="customCommand" xsi:type="object">Barranco\MagentoArchitecture\Console\Command\CustomCommand</item>
            </argument>
        </arguments>
    </type>            
</config>