<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Certification comments
 *
 * 1. etc/module.xml is one of the three require files to bootstrap a module
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Barranco_MagentoArchitecture" setup_version="0.0.1" />
</config>